.about {
  //display: flex;

  &__content {
    display: flex;
    gap: 20px;
    padding: 20px;
    //add by myself
    padding-top: 100px;
    width: 100%;

    &__personalWrapper {
      //divide two div, to 2 separate and equal part
      flex: 1;
      h3 {
        margin-bottom: 10px;
        font-size: 2.5rem;
        color: var(--selected-theme-main-color);
        font-weight: 700;
      }

      h3.personalContent{
        padding-top: 20px;
      }

      p {
        color: var(--selected-theme-sub-text-color);
        font-size: 1.8rem;
        line-height: 1.65;
        padding-bottom: 20px;
        border-bottom: 1px dashed var(--selected-theme-main-color);
      }

      //ul and then li under that:
      ul > li {
        line-height: 1rem;
        margin-bottom: 15px;

        span.title, span.value{
          font-size: 18px;
          font-weight: 700;
          letter-spacing: 0.5px;
          border-bottom: 2px solid var(--selected-theme-main-color);
          position: relative;
          display: inline-block;
          margin-right: 16px;
          padding-bottom: 1px;
          color: var(--selected-theme-sub-text-color);
        }

        span.value{
          border: none;
        }
      }
    }

    &__servicesWrapper{
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__innerContent{
        width: 350px;
        height: 350px;
        position: relative;
        border-radius: 50%;
        border: 1.5px solid var(--selected-theme-main-color);
        background: radial-gradient(180px, var(--selected-theme-main-color), transparent 90%);
        animation: rotation 10s linear 1s infinite;

        div:nth-child(1){
          position: absolute;
          top: -11%;
          left: 41.5%;
        }
        div:nth-child(2){
          position: absolute;
          right: -8%;
          top: 41.5%;
        }
        div:nth-child(3){
          position: absolute;
          bottom: -10%;
          left: 41.5%;
        }
        div:nth-child(4){
          position: absolute;
          top: 41.5%;
          left: -7%;
        }
      }
    }
  }

}

@keyframes rotation {
  100%{
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px){
  .about__content{
    flex-direction: column;

    &__serviceWrapper{
      margin-top: 20px;
      margin-bottom: 20px;

      &__innerContent{
        width: 250px;
        height: 250px;
        background: radial-gradient(100px, var(--selected-theme-main-color), transparent 120%);

        div:nth-child(1){
          position: absolute;
          top: -15%;
          left: 38.5%;
        }
        div:nth-child(2){
          position: absolute;
          right: -11%;
          top: 41%;
        }
        div:nth-child(3){
          position: absolute;
          bottom: -12%;
          left: 39%;
        }
        div:nth-child(4){
          position: absolute;
          top: 41.5%;
          left: -12%;
        }
      }
    }
  }
}