.App_portfolioCss{
    height: 100%;

    &__navbar-wrapper {
        position: absolute;
        width: 100%;
        top: 0;
    }

    &__main-content-wrapper {
        height: calc(100% - 80px);
        position: absolute;
        width: 100%;
        margin-top: 80px;
    }
}

/*.App_portfolioCss__main-content-wrapper{
    height: calc(100% - 80px);
}*/


/*root css*/
:root {


    --selected-theme-background-color: var(--yellow-theme-background-color);
    --selected-theme-main-color: var(--yellow-theme-main-color);
    --selected-theme-sub-text-color: var(--yellow-theme-sub-text-color);
    --selected-theme-nav-background-color: var(--yellow-theme-nav-background-color);

    /*    primary color*/
    --yellow-theme-background-color: #1d1d1d;
    --yellow-theme-main-color: #ffdd40;
    --yellow-theme-sub-text-color: #ffffff;
    --yellow-theme-nav-background-color: #181818;

    --font-base: "Roboto Slab", sarief;

}


/*reset global css*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}


html{
    font-size: 62.5%;
    height: 100%;
}

body{
    background: var(--selected-theme-background-color);
    height: 100%;
}

/*this is id=root in public/index.html*/
#root{
    height: 100%;
}



@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Slab:wght@500&display=swap');